:root {
    --c-dark: #113f7c;
    --c-primary: #01579b;
    --c-light: #4f83cc;
    --accent1-c: #ECF2F9;
    --accent2-c: #FFC10D;
    --accent2-hover-c: #FAB00C;
    --accent3-c: #EE310D;
    --accent3-hover-c: #E0300C;
}


html, body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: var(--c-dark);
    transition: all 0.3s ease-in-out;
    outline: none;
}

button:focus {
    outline: none;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    padding: 30px;
    text-align: center;
}

#navbarSupportedContent {
    margin-left: 20px;
}


a {
    color: var(--accent1-c);
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #fff;
}

.navbar a, .links a {
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.links a:hover {
    background-color: var(--c-primary);
    border-radius: 10px;
}

.m-b-md {
    margin-bottom: 30px;
}

.img-logo {
    height: 200px;
    width: 200px;
    margin: auto;
}

.navbar-icon {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}


.welcome-content{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    color: #f6f6f6;
}

.welcome-content p {
    padding: 15px;
    font-size: 20px;
}


#btn-start {
    color: #fff;
    background-color: var(--c-primary);
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 14px;
}

#btn-start:hover {
    background-color: var(--c-light);
}


.navbar {
    background-color: var(--c-primary);
    outline: none;
}

.card {
    width: 80%;
    margin: auto;
}

.dropdown-item:hover {
    background-color: transparent;
    color: #222;
}

.btn-edit {
    background-color: var(--accent2-c);
    color: var(--accent1-c);
    border-radius: 5px;
    padding: 5px 10px;
    border: 0px;
}
.btn-edit:hover {
    background-color: var(--accent2-hover-c);
    color: var(--accent1-c);
    border-radius: 5px;
    padding: 5px 10px;
    border: 0px;
}

.btn-delete {
    background-color: var(--accent3-c);
    color: var(--accent1-c);
    border-radius: 5px;
    padding: 1px 10px;
    border: 0px;
}
.btn-delete:hover {
    background-color: var(--accent3-hover-c);
    color: var(--accent1-c);
    border-radius: 5px;
    padding: 1px 10px;
    border: 0px;
}

.btn-standard {
    background-color: var(--c-primary);
    color: var(--accent1-c);
    border-radius: 5px;
    padding: 7px 14px;
    border: 0px;
}
.btn-standard:hover {
    background-color: var(--c-dark);
    color: var(--accent1-c);
}

.img-bg-logo {
    width: 100%;
}


.table {
    margin: auto;
    width: 80%;
    font-size: 10px;
    text-align: center;
}

.table a {
    font-size: 10px;
}

.table tr {
    line-height: 30px;
}

.table td, .table th {
    padding: 5px;
}


.card {
    width: 100%;
}

.card-body {
    overflow-x: scroll;
    padding: 10px;
}

.nav-back {
    line-height: 30px;
    padding: 30px;
}

#table-templates {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 5px;
}

.form-group label {
    font-weight: 600;
}

.radio {
    margin: 16px 0;
    display: block;
    cursor: pointer;
}
.radio input {
    display: none;
}
.radio input + span {
    line-height: 22px;
    height: 22px;
    padding-left: 22px;
    display: block;
    position: relative;
    text-align: left;
    font-size: 10px;
    padding-right: 10px;
}
.radio input + span:not(:empty) {
    padding-left: 30px;
}
.radio input + span:before, .radio input + span:after {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}
.radio input + span:before {
    background: #D1D7E3;
    transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.radio input + span:after {
    background: #fff;
    -webkit-transform: scale(0.78);
    transform: scale(0.78);
    transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio input:checked + span:before {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    background: #5D9BFB;
}
.radio input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}
.radio:hover input + span:before {
    -webkit-transform: scale(0.92);
    transform: scale(0.92);
}
.radio:hover input + span:after {
    -webkit-transform: scale(0.74);
    transform: scale(0.74);
}
.radio:hover input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}


.toggle {
    text-align: center;
    width: 50%;
}
.toggle input {
    display: none;
}
.toggle label {
    cursor: pointer;
    padding-right: 35px;
    position: relative;
    display: block;
    font-size: 18px;
    padding: 15px 0;
}
.toggle input[type="checkbox"] {
    position: absolute;
    visibility: hidden !important;
}
.toggle input[type="checkbox"] + label:before,
.toggle input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
    box-sizing: border-box;
}
.toggle input[type="checkbox"] + label:before {
    width: 30px;
    height: 15px;
    right: 0px;
    background: #fff;
    border: 1px solid #e4e3e1;
    border-radius: 15px;
}
.toggle input[type="checkbox"] + label:after {
    width: 15px;
    height: 15px;
    right: 15px;
    background: #BDBDBD;
    border-radius: 50%;
    transition: all 200ms ease-out;
}
.toggle input[type="checkbox"]:checked + label:after {
    right: 0px;
    background: #FF9800;
}


.p-info {
    font-size: 18px;
}

.p-info + a {
    color: var(--c-dark);
    font-size: 16px;
}

#features {
    margin-top: 50px;
    background-color: var(--c-primary);
    width: 100%;
}

.content-features {
    color: #fff;
    padding: 30px;
    width: auto;
    margin: auto;
}

.content-features p {
    margin-top: -10px;
}





@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 950px) and (orientation: landscape) {
    .welcome-content {
        width: 50%;
    }

    .img-bg-logo {
        width: 100%;
    }

    .card {
        width: 80%;
    }

    .card-body {
        overflow-x: unset;
        padding: 20px;
    }

    .table {
        width: 100%;
        font-size: 16px;
    }

    .table a {
        font-size: 16px;
    }

    .table tr {
        line-height: 30px;
    }

    .table td, .table th {
        padding: .75em;
    }

    .radio input + span {
        font-size: 14px;
        padding-right: 0;
    }

    .toggle {
        text-align: left;
        width: 30%;
    }

    .content-features {
        color: #fff;
        padding: 30px;
        width: 50%;
        margin: auto;
    }
}

