:root {
    --c-dark: #113f7c;
    --c-primary: #01579b;
    --c-light: #4f83cc;
    --accent1-c: #ECF2F9;
    --accent2-c: #FFC10D;
    --accent2-hover-c: #FAB00C;
    --accent3-c: #EE310D;
    --accent3-hover-c: #E0300C;
}


html, body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: var(--c-dark);
    transition: all 0.3s ease-in-out;
    outline: none;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    padding: 30px;
    text-align: center;
}


a {
    color: var(--accent1-c);
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #fff;
    background-color: var(--c-primary);
    border-radius: 10px;
}

.m-b-md {
    margin-bottom: 30px;
}

.img-logo {
    height: 100px;
    width: 100px;
    margin: auto;
}


.welcome-content{
    width: 50%;
    height: 100%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    color: #f6f6f6;
}


#btn-start {
    color: #fff;
    background-color: var(--c-primary);
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 14px;
}

#btn-start:hover {
    background-color: var(--c-light);
}


.navbar {
    background-color: var(--c-primary);
}

.card {
    width: 80%;
    margin: auto;
}

.dropdown-item:hover {
    background-color: transparent;
    color: #222;
}

.btn-edit {
    background-color: var(--accent2-c);
    color: var(--accent1-c);
    border-radius: 5px;
    padding: 7px 14px;
    border: 0px;
}
.btn-edit:hover {
    background-color: var(--accent2-hover-c);
    color: var(--accent1-c);
    border-radius: 5px;
    padding: 7px 14px;
    border: 0px;
}

.btn-delete {
    background-color: var(--accent3-c);
    color: var(--accent1-c);
    border-radius: 5px;
    padding: 1px 14px;
    border: 0px;
}
.btn-delete:hover {
    background-color: var(--accent3-hover-c);
    color: var(--accent1-c);
    border-radius: 5px;
    padding: 1px 14px;
    border: 0px;
}



.table tr {
    line-height: 30px;
}

